<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p>
          <span class="grey-text text-lighten-4">
          LDIF Compare helps identify differences between LDIF files from typically two nodes. <br>
          Two type of outputs are supported:
          </span>
          <ul>
            <li ><span class="grey-text text-lighten-3" >1. CSV table downloaded.</span></li>
            <li ><span class="grey-text text-lighten-3" >2. Webpage table presented here.</span></li>
          </ul>
          
          <span class="grey-text text-lighten-4">
          Note: in CSV file, comma "," was replaced as "|" for cell segmentation, you could save it as a EXCEL table and replace "|" back to ",".
          </span>
          
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Rights</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://unsplash.com/photos/8z2Q6XWLYa4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Photo by Jeff Sheldon on Unsplash</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/littlewey/ldif-compare">Coded by Wey Gu</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Ericsson GSC-C
    <a class="grey-text text-lighten-4 right" href="http://tool.swdp.me/">More Tools</a>
    </div>
  </div>
</footer>